In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Read in CSV files
olympic_data = "Resources/olympic_data.csv"
gdp_data = "Resources/gdp_data.csv"

# Creating data frames
olympic_df = pd.read_csv(olympic_data)
gdp_df = pd.read_csv(gdp_data)

# Combine the data into a single dataset
merge_table = pd.merge(olympic_df, gdp_df, on=["Country", "Year"])
merge_table.head(5)

,ID,Name,Sex,Age,Height,Weight,Country,Games,Year,Season,City,Sport,Event,Medal,GDP PC,Population,Total GDP
0,1,A Dijiang,M,24.0,180.0,80.0,China,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,2731.0,1163363.0,3.180000e+12
1,6848,Bai Chongguang,M,21.0,184.0,83.0,China,1992 Summer,1992,Summer,Barcelona,Boxing,Boxing Men's Light-Heavyweight,NaN,2731.0,1163363.0,3.180000e+12
2,6854,Bai Mei,F,17.0,166.0,46.0,China,1992 Summer,1992,Summer,Barcelona,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Individual,NaN,2731.0,1163363.0,3.180000e+12
3,11225,Bi Zhong,M,23.0,188.0,110.0,China,1992 Summer,1992,Summer,Barcelona,Athletics,Athletics Men's Hammer Throw,NaN,2731.0,1163363.0,3.180000e+12
4,17295,Cai Yanshu,M,28.0,169.0,79.0,China,1992 Summer,1992,Summer,Barcelona,Weightlifting,Weightlifting Men's Light-Heavyweight,NaN,2731.0,1163363.0,3.180000e+12

In [ ]:
#emma - demographic overview

In [ ]:
#ashley - heat map

In [ ]:
#emma - medal wins correlation with bmi

In [ ]:
#peter - gdp correlation with medals

df_1936 = merge_table()


gdp_by_country = []
medal_count = []
country_name = []

#y axis is medals won, x axis is GDP by country.
# either going to have to do a series of graphs, each representing a period of say 50 years,
# or do a comparison between specific times in history, e.g. WWII vs today
#or, if possible you could try to do one of those graphs where multiple time periods are shown in one graph
#e.g. https://coderwall.com/p/fkod2a/olympics-data-visualization-in-paper-js

In [ ]:
#peter - medal winnings over time by a country, e.g. south korea, and how that correlates to gdp

In [ ]:
#ashley - sports participation by country over time